@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Segurança e Qualidade</h1>

    <p>Este subsistema cuida de garantir a segurança dos processos industriais e
    <p>a qualidade dos produtos parciais e do produto final. Atualmente ele não possui acesso via</p>
    <p>integração ao sistema de Gestão de Normas, o que se constitui em um grande problema pois não é</p>
    <p>possível assegurar que a norma mais atual e adequada está sendo seguida. Além disso, por ser um</p>
    <p>subsistema que não foi adquirido da SAP sua integração e utilização são complexas e inadequadas,</p>
    <p>não guardando uma padronização com o restante dos subsistemas implantados.</p>
</div>
